@page
@model AboutModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
    <h1><strong>About Us.</strong></h1>
<img class="img-fluid" width="120" src="/img/blazor.png"/>
    <p>
Template themes for blazor .Net for learn blazor, this themes is develope using blazor and bootstrap including MDL on design.<br/>
We Plain to explore and design new themes again with agenda and inventori management apps <br/>so stay connect with us. for update we source code project.
</p>
<p>
This template develope creative by dre who work on <a href="https://axcora.com">axcora technology</a>. <br/>this man is realy love learn code and photography to..
</p>
</div>