@page
@model CinemaModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
     <h1><strong>The Cinema</strong></h1>
    <div class="ratio ratio-21x9">
  <iframe src="https://www.youtube.com/embed/tMyzNWq5fLs" class="shadow rounded" allowfullscreen></iframe>
</div>
</div>