@page
@model ContactModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
   <h1><strong>Contact Us.</strong></h1>
<img class="img-fluid" width="120" src="/img/blazor.png"/>
    <p>
If you need to develope website or application , we can create a web app website including online application for you.<br/>
Application we develope : Point of sale application - Restaurant Application - Invoice Appplication - Accounting Application - Inventori stock management - School erp and e-learning apps.<br/>
Modern website design using Angular, gatsby JS , Get Axocra CMS , MODX , Wordpress,  Modern Blogspot with custom design and more..<br/>
</p>
<p>
Whatsapp : +6285646104747<br/>Call Us : +6287819355589<br/>Email : axcora@gmail.com
</p>
</div>