@page
@model IndexModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
    <h1><strong>Documentation</strong></h1>
<p>
Website template build and develope using blazor dot net deat bootstrap and MDL too...
</p>
<p>
For install this web apps you need to download node and blazor before for run this web apps. <br/>
<a href="https://nodejs.org/en/download/" taget="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Download Node
</a> 
<a href="https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/install" taget="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Download .Net SDK
</a> 
</p>
<p>After download all third party you need to check for make sure this apps is successfully installation, just open your shell terminal or cmd / npm. then run command :
<br/>For check node npm <span class="bg-white text-dark p-1">node -v</span> 
<br/>For checking Blazor .Net run command <span class="bg-white text-dark p-1">dotnet</span> 
</p>
<p>
Now you need download this source code on sourceforge or you can fork and download it from github<br/>
<a href="https://sourceforge.net/projects/blazor/" taget="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  SourceForge
</a> 
<a href="https://github.com/mesinkasir/blazorweb" taget="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Github
</a> 
</p>
<p>
Then extract download folder to your project folder, copy all item, now you need run this apps, just open terminal and configure to open your project folder for example your project folder on desktop so you need run command with <span class="bg-white text-dark p-1">cd C:\Users\PC-name\Desktop\Projectfolder</span> <br/>
now shell terminal is activated and ready for run this source code web apps. for run this web apps just run command <span class="bg-white text-dark">dotnet watch run</span> and open localhost:5001 or localhost:5000 on your web browser, congratulation now your modern website is ready and live.
</p>
<p>
How to change article ,you can open folder this source code then open on page folderm and you can change all content article with you needed in here, just open and edit using text editor .cshtml file, and viola.. now you already develope modern website using blazor.
</p>
<p>
Happy codding !!
</p>
</div>