@page
@model GalleryModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
     <h1><strong>Art Gallery</strong></h1>
    <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/j-EyRhkbhF0" class="shadow rounded" allowfullscreen></iframe>
</div>  
</div>