@page
@model IndexModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
    <h1><strong>The Blazor</strong></h1>
<img class="img-fluid" width="300" src="/img/blazor.png"/>
    <p>This is new modern website develope using blazor - by <a href="https://axcora.com/getaxcoracms">axcora technology</a>.</p>
</div>