@page
@model VideoModel
@{
    ViewData["Title"] = "Blazor Web App";
}
<div class="text-center">
    <h1><strong>Music Video</strong></h1>
    <div class="ratio ratio-21x9">
  <iframe src="https://www.youtube.com/embed/7E-uPPqSrVg" class="shadow rounded" allowfullscreen></iframe>
</div>
</div>